input::-webkit-input-placeholder { color:#B3B3B3 }
input::-moz-input-placeholder { color:#B3B3B3 }
input::-ms-input-placeholder { color:#B3B3B3 }

.template { display:none }

/* 顶部栏 */
.header { width:15rem;height:3.6rem;background:#010101;background-size:15rem 2rem }
.header.one { height:2rem }
	/* logo */
.header .logo { display:block;position:absolute;width:2rem;height:2rem;background:no-repeat center;background-size:40%;z-index:17 }
	/* 搜索栏 */
.header .search { position:relative;width:15rem;height:1.85rem;overflow:hidden;z-index:0 }
.header .search input { display:block;position:absolute;width:11.6rem;height:1.2rem;line-height:1.2rem;top:0.25rem;right:0.5rem;background:rgba(255,255,255,0.14);border-radius:0.6rem;color:#FFF;text-align:center;padding:0 1.2rem;z-index:0 }
.header .search a { cursor: pointer;display:block;position:absolute;width:1.6rem;height:1.6rem;top:0.05rem;right:0.5rem;background:url(../images/search.png) no-repeat center;background-size:0.6rem 0.6rem;z-index:1 }
.header.one .search input { width:10rem;top:0.4rem }
.header.one .search a { top:0.2rem }
	/* 导航栏 */
.header .navigate { width:15rem;height:1.8rem;overflow:hidden }
.header .navigate a { display:block;position:relative;float:left;width:3rem;text-align:center;line-height:2.2rem;color:rgba(255,255,255,0.7);font-size:0.6rem }
.header .navigate a.current { color:#FFF;font-size:0.72rem;font-weight:bold }
.header .navigate a.current:before { content:'';position:absolute;left:0.65rem;top:0.55rem;width:0.5rem;height:0.5rem;background:rgba(255,255,255,0.4);z-index:0 }
.header .navigate a.current.three:before { left:0.3rem }
.header .navigate a.current span { position:relative;z-index:9 }

/* 轮播 */
.s-slider { width:15rem;height:7.5rem;margin:0 auto }
.s-slider ul li { position:relative;width:15rem;height:7.5rem }
.s-slider ul li a,.s-slider ul li img,.s-slider ul li i { display:block;width:100%;height:100%;background-size:100% 100% }
.s-slider ul li span { display:block;position:absolute;width:100%;height:4rem;line-height:6.3rem;text-indent:0.5rem;bottom:0rem;left:0rem;color:#FFF;background:linear-gradient(0deg,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);font-size:0.6rem;font-weight:bold }
	/* 轮播定位点 */
.s-slider ol { height:0.2rem;bottom:1.7rem }
.s-slider ol li { width:4px;height:4px;background:rgba(255,255,255,0.4);margin-left:0.15rem }
.s-slider ol li:first-child { margin-left:0.5rem }
.s-slider ol li.now { width:6px;height:6px;background-color:#FFCA00;position:relative;top:-1px }

/* 加载动画 */
.loading { padding:1rem }
.loading .s-loading,.list .more .s-loading { margin:0 auto }
.loading .s-loading i,.list .more .s-loading i { background:#007AFF }
.more .s-loading { display:none }

/* 列表 */
.list .title { position:relative;height:0.8rem;line-height:0.8rem;font-weight:bold;text-indent:0.6rem;padding-top:0.6rem;font-size:0.9rem;color:#000 }
.list .title:before { content:'';position:absolute;left:0;top:0;width:1rem;height:1rem;background:#378FFF;z-index:0 }
.list .title.h:before { background:#FFCA00 }
.list .title a { display:block;position:absolute;right:0.3rem;top:0;height:2.2rem;line-height:2.2rem;font-size:0.4rem;color:#606060;padding-right:0.5rem;font-weight:normal;background:url(../images/more_1.png) no-repeat right center;background-size:0.4rem 0.4rem }
.list .title span { position:relative;z-index:9 }
.list .items { padding-top:0.4rem;padding-left:0.4rem }
.list .items a { display:block;float:left;width:4.6rem;height:7.9rem;margin-top:0.2rem;margin-right:0.2rem;overflow:hidden }
.list .items a i { display:block;position:relative;width:4.6rem;height:6.2rem;background:#EEE no-repeat center;background-size:4.6rem 6.2rem;border-radius:0.05rem;overflow:hidden }
.list .items a i b { display:block;position:absolute;width:4.4rem;padding-right:0.2rem;height:1.2rem;line-height:1.2rem;bottom:0;right:0;color:#FFF;background:linear-gradient(-180deg,transparent,rgba(0,0,0,.4) 99%);font-style:normal;font-weight:normal;font-size:0.45rem;text-align:right }
.list .items a span { display:block;line-height:0.7rem;font-size:0.6rem;color:#333;margin-top:0.3rem }
.list .more { height:1.4rem;text-align:center;margin-top:0.5rem }
.list .more a { display:inline-block;width:6.8rem;height:0.7rem;line-height:0.7rem;padding:0.35rem 0;background:#F5F7FA;text-align:center;border-radius:0.1rem;color:#777;font-size:0.52rem }
.list .more a img { width:0.55rem;height:0.55rem;position:relative;top:0.1rem;margin-left:0.2rem;margin-right:0.2rem }
.list .more a:first-child { margin-right:0.4rem }
.list .more.one a { width:13.6rem;margin-right:0 }
.list .more a.prev img { transform:rotate(90deg) }
.list .more a.next img { transform:rotate(-90deg);margin-left:0.2rem;margin-right:0 }

/* 回到顶部 */
.scroll-to-top { display:none;position:fixed;width:1.8rem;height:1.8rem;bottom:1rem;right:0.5rem;border-radius:50%;background:#FFF url(../images/arrow-top.png) no-repeat center;background-size:1rem 1rem;box-shadow:0 0 10px 0 rgba(0,0,0,0.15) }

/* 版权 */
.copyright { width:15rem;height:3rem;padding-top:1rem;color:#CCC;background:#F5F7FA }
.copyright p { height:1rem;line-height:1rem;text-align:center }

/* 条件选择 */
.condition { width:15rem;overflow:hidden }
.condition .s-slide-menu { position:relative;width:14.6rem;margin-left:0.4rem;margin-top:0.4rem;height:1.2rem }
.condition .s-slide-menu div { position:absolute;left:0;top:0;height:1.2rem;overflow-y:hidden }
.condition .s-slide-menu div a { display:block;float:left;height:1.2rem;line-height:1.25rem;padding:0 0.5rem;color:#666;font-size:0.46rem }
.condition .s-slide-menu div a.now { color:#333;background:#F8F8F8;border-radius:0.6rem;font-weight:bold }

/* 关键词提示 */
.keywords { height:1.2rem;line-height:1.2rem;font-size:0.65rem;text-indent:0.5rem }

/* 无数据 */
.no-data { height:2rem;line-height:2rem;text-align:center;background:#EEE;font-size:0.5rem }